.zz{
    background-image: url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3MDcwOTB8MHwxfHNlYXJjaHwxfHxvZmZpY2UlMkN0ZWNobm9sb2d5fGVufDB8fHx8MTczOTQ0MDUyMXww&ixlib=rb-4.0.3&q=80&w=1080);
    height: 63vh;
    width: 100%;
    background-size: cover;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-position: center;
}
.header-text{
    color: #0d6efd;
    font-size: 3rem;
    z-index: 1;
    font-weight: 900;
}
.content-text{
    font-size: 1.25rem;
    font-weight: 300;

}
/*.cd{*/
/*    width: 50%;*/
/*}*/
